body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn {
  outline: none;
  padding: 5px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 5px 8px #888888;
  cursor: pointer;
}

.btn:active {
  transform: translateY(1.5px);
  box-shadow: 1px 1px 1px #888888;
}

.btn-primary {
  background-color: rgb(2, 143, 179);
  color: white;
}

.btn-danger {
  background-color: rgb(255, 0, 0);
  color: white;
}

.btn-success {
  background-color: rgb(1, 139, 31);
  color: white;
}
